@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200&display=swap");

:root {
  --white-var: #ffffff;
  --background-var: #070724;
  --grey-trasparent-var: #38384f;
  --grey-var: #838391;
  --green-blue-var: #419ebb;
  --orange-low-var: #eda249;
  --orange-medium-var: #d14c32;
  --orange-strong-var: #cd5120;
  --reds-var: #d83a34;
  --purple-var: #6f2ed6;
  --green-var: #1ec2a4;
  --blue-var: #2d68f0;
}
body {
  background-color: var(--background-var);
  color: var(--white-var);
  font-family: "League Spartan", sans-serif;
  margin: 0;
}

/* Navbar */
.navbar-nav {
  position: fixed;
  background-color: var(--background-var);
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
}
#secondaryNav-desktop {
  display: none;
}
.nav-link,
.navbar-brand {
  color: var(--white-var);
}
.navbar-brand {
  font-family: "Antonio";
  margin-bottom: 1rem;
}
.navbar-toggler[aria-expanded="false"] {
  background-color: var(--white-var);
}
.links-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.links-nav-planets {
  display: flex;
}
.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 10px;
}
.mercury {
  background-color: var(--grey-var);
}
.venus {
  background-color: var(--orange-low-var);
}
.earth {
  background-color: var(--purple-var);
}
.mars {
  background-color: var(--reds-var);
}
.jupiter {
  background-color: var(--orange-medium-var);
}
.saturn {
  background-color: var(--orange-strong-var);
}
.uranus {
  background-color: var(--green-blue-var);
}
.neptune {
  background-color: var(--blue-var);
}
.arrow,
hr {
  color: var(--grey-trasparent-var);
}

/* segundo nav OVERVIEW STRUCTURE SURFACE*/
.more-info {
  display: flex;
  justify-content: space-evenly;
}
.more-info-links {
  list-style-type: none;
}
.more-info-links a {
  text-decoration: none;
  color: var(--grey-var);
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
article {
  margin: 1.5rem;
}
.parametros {
  width: 327px;
  border: solid 1px var(--grey-trasparent-var);
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.info-planet {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.wikipedias {
  color: var(--grey-var);
}
.subtitle-info,
.subtitle-text {
  padding: 12px 20px 0 20px;
}
.subtitle-info {
  font-size: small;
  color: var(--grey-var);
}
.subtitle-text {
  font-weight: bold;
}
.more-info-links a.active {
  color: var(--white-var);
  border-bottom: 3px solid;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  body {
    background-image: url(../src/img/estrellas.png);
  }
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-planet grid-planet grid-planet grid-info grid-info"
      "grid-planet grid-planet grid-planet grid-info grid-info"
      "grid-planet grid-planet grid-planet grid-info grid-info"
      "grid-planet grid-planet grid-planet grid-info grid-info"
      "grid-data grid-data grid-data grid-data grid-data";
  }

  .grid-planet {
    grid-area: grid-planet;
  }

  .grid-info {
    grid-area: grid-info;
  }

  .grid-data {
    grid-area: grid-data;
  }

  .navbar-nav {
    position: relative;
    background-color: var(--background-var);
    width: 100%;
    height: auto;
    z-index: 2;
    justify-content: end;
  }
  .navbar-brand {
    margin-right: 10px;
  }
  .circle {
    display: none;
  }
  #secondaryNav {
    display: none;
  }
  #secondaryNav-desktop {
    display: block;
  }
  .grid-planet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-planet img {
    width: 290px;
    height: 290px;
  }
  .grid-info {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
  }
  .more-info {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding-left: 0;
  }
  .more-info-links-desktop {
    height: 48px;
    width: 350px;
    border: var(--grey-var) solid 1px;
    list-style-type: none;
    text-align: center;
    margin: 10px;
  }
  .more-info-links-desktop a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--white-var);
    width: 350px;
    height: 48px;
  }
  .grid-data {
    display: flex;
    justify-content: space-evenly;
  }
}
